.main {
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
    // background: #0c0c0c2c;
    background-color: whitesmoke;
    transition: all ease-in 1s;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    border: rgba(0, 0, 0, 0.157) 2px double;
    border-radius: 10px;
    color: black;
    
    & a {
        color: black;
        transition: all .5s ease-in .5s;
    }

    .img-accordian{
        margin: 50px 50px 0 50px;

        &__item--1 {
            height: auto;
            width:  100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
    }   
    
    &__content {         
        margin: 25px 50px;
        padding-right: 50px;
        width: 60%;
        // border-right: white 1.5px solid;


        &-news{
            &--header {
                color: black;
                border-bottom: black 1.5px solid;
                transition: all .5s ease-in .5s;
            }

            &--item {
                display:flex; // to align text next to image
                margin: 20px  0;
            }

            &--img {
                height: 160px;
                width: 160px;
                }

            &--details {
                padding: 0 20px;
                float: left;
            }
        }
    }

    &__side-nav { 
        margin: 25px 50px 50px 0;
        justify-content: flex-end;

        .shows__header {
            color: black;
            transition: color .5s ease-in .5s;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 600;

        }
    }
   
}