.main {
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
    // background: #0c0c0c2c;
    background-color: #f0f0f0;
    transition: all ease-in 1s;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    border: rgba(0, 0, 0, 0.157) 2px double;
    border-radius: 10px;
    color: black;
   
    & a {
        color: black;
        transition: all .5s ease-in .5s;
        font-weight: bold;
        &:hover {
            color: orange;
            transition: color .1s linear;
        }
    }

    .img-accordian{
        margin: 50px 50px 0 50px;

        &__item--1 {
            height: auto;
            width:  100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
   
    }   

    &__content { 
        margin: 0 50px;        
        width: 60.3%;

        & > div {
            margin: 50px 0;
        }

        &-news{
            &--item {
                transition: all ease-in 1s;
                background-color: rgba(255, 255, 255, 0.904);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
                border-radius: 5px;
                padding: 15px 15px;

                display:flex; // to align text next to image
                margin: 20px 0;
            }

            &--img {
                height: 160px;
                width: 160px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
                }

            &--details {
                padding: 0 20px;
                float: left;
            }
        }

        &-shows--grp {   
            margin: 20px  0;      
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
           

            .main__content-shows--item {
                transition: all ease-in 1s;
                background-color: rgba(255, 255, 255, 0.904);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
                border-radius: 5px;

                padding: 20px 20px;
                margin: 0 20px 20px 0;

                .show-img {
                    height: 240px;
                    width: 160px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
                }
                .show-details {
                    text-align: center;
                    color: black;
                    transition: color ease-in 1s;
                }
                
            }
        }
    
    }





    &__side-nav { 
        margin: 0 50px 50px 0;
        justify-content: flex-end;
        
        & > div {
            margin-top: 50px;
        }
        
        .shows__header {
            color: black;
            transition: color .5s ease-in .5s;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 600;

        }
    }

}
