.main {
    text-transform: uppercase;
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;

    .img-accordian{
        margin: 50px 50px;
        &__item--1 {
            height:auto;
            width:  100%;
        }
    }

    &__body {
        flex-direction: row;
    }   
    

    &__content {   
       
        margin: 50px 50px;
        padding-right: 50px;
        width: 60%;
        float: left;
        border-right: white 1.5px solid;

    }

    &__side-nav {
        margin: 50px 50px 50px 0;
        float: right;
    }
   
}