@keyframes glow{
    0% {
        box-shadow: 
        0 0 5px rgb(2, 2, 2),
        0 0 50px rgb(255, 185, 34),
        0 0 20px rgba(255, 255, 254, 0.808),
        0 0 30px orange;
    }

    70% {
        border: rgba(0, 0, 0, 0.116) 2px double;
        box-shadow: 0 0 20px rgba(2, 2, 2, 0.534);
    }  

    100% {
        box-shadow: 
        0 0 5px rgb(2, 2, 2),
        0 0 50px rgb(255, 185, 34),
        0 0 20px rgba(255, 255, 254, 0.808),
        0 0 30px orange;
        }
  }
