.main {
    margin: 0 auto; 
    max-width: 1000px;


    &:hover {
        box-shadow: 0 0 20px orange;
        border: rgb(255, 174, 0) 2px double;
        border-radius: 10px;
        transition: all .2s ease-in .2s;
        transform: scale(1.009);
        background: #0c0c0c2c;
        color: white;

        & a {
            color: white;
            transition: all .2s ease-in .2s;

        }

        .main__content-news--header{
            color: white;
            border-bottom: white 1.5px solid;
            transition: all .2s ease-in .2s;
        }
        .shows__header, .main__side-nav {
            color: white;
            transition: all .2s ease-in .2s;
        }
        
    }
}