*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* forcing inheritance */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #1c1f22;
  max-height: 100vh;
  background-size: cover; }

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #020202, 0 0 50px #ffb922, 0 0 20px rgba(255, 255, 254, 0.808), 0 0 30px orange; }
  70% {
    border: rgba(0, 0, 0, 0.116) 2px double;
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.534); }
  100% {
    box-shadow: 0 0 5px #020202, 0 0 50px #ffb922, 0 0 20px rgba(255, 255, 254, 0.808), 0 0 30px orange; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white; }

a {
  color: white; }
  a:hover {
    color: orange;
    transition: all 0.3s ease 0s; }

.heading-1 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: black;
  border-bottom: black 2px solid;
  transition: all .5s ease-in .5s; }

.heading-2 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 600; }

.heading-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }

.navbar {
  font-size: 1.1rem;
  letter-spacing: .2rem;
  text-transform: lowercase;
  font-weight: bold;
  text-transform: lowercase; }
  .navbar__logo {
    font-size: 2rem; }
    .navbar__logo a.navbar__logo--link:active, .navbar__logo a.navbar__logo--link:visited {
      color: orange; }
  .navbar__links .focused {
    color: orange; }
  .navbar__links li small {
    font-size: .8rem;
    color: orange;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; }
  .navbar__links li a {
    color: white; }
    .navbar__links li a:hover {
      color: orange; }
  .navbar__links li input {
    color: orange; }
    .navbar__links li input::placeholder {
      font-weight: bolder;
      font-family: 'Kosugi Maru', sans-serif;
      letter-spacing: .3rem; }
  .navbar__links li i {
    color: white; }

.vid-nav a {
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.37); }

.u-text-bold {
  font-weight: bold; }

.u-margin-50 {
  margin: 50px; }

.u-line-ht-s {
  line-height: 20px; }

.u-line-ht-l {
  line-height: 50px; }

.prev-img {
  z-index: -1;
  height: 400px;
  max-width: 500px;
  position: absolute;
  top: 140px;
  right: 1150px;
  filter: blur(2.5px) contrast(90%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089); }

.nxt-img {
  z-index: -1;
  height: 400px;
  max-width: 500px;
  position: absolute;
  top: 140px;
  left: 1150px;
  filter: blur(2.5px) contrast(90%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089); }

.theatre {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1500px;
  z-index: 3;
  /* This css is only applied when fullscreen is active. */
  /* unholy css to style input type="range" */ }
  .theatre .previous {
    opacity: 0;
    z-index: 5;
    position: relative;
    top: 300px;
    right: 410px;
    padding: 200px 100px 200px 300px; }
    .theatre .previous:hover {
      opacity: 1;
      right: 450px;
      transition: right .7s ease-out; }
  .theatre .next {
    opacity: 0;
    z-index: 5;
    position: relative;
    top: 300px;
    left: 410px;
    padding: 200px 300px 200px 100px; }
    .theatre .next:hover {
      opacity: 1;
      left: 450px;
      transition: left .7s ease-out; }
  .theatre .ep-info {
    margin: 25px 0;
    max-width: 1000px;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif; }
    .theatre .ep-info__img {
      white-space: nowrap;
      float: left;
      margin-right: 25px; }
      .theatre .ep-info__img img {
        height: 100px;
        width: 100px; }
    .theatre .ep-info__title {
      clear: right;
      display: inline;
      font-size: 1.5rem;
      font-weight: bolder;
      color: white; }
      .theatre .ep-info__title a {
        color: orange; }
  .theatre .player {
    max-width: 1000px;
    z-index: 3;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.678);
    position: relative;
    overflow: hidden; }
  .theatre .player:fullscreen {
    max-width: none;
    width: 100%; }
  .theatre .player:-webkit-full-screen {
    max-width: none;
    width: 100%; }
  .theatre .player__video {
    display: inline-block;
    width: 100%;
    position: relative; }
  .theatre .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px; }
  .theatre .player__button:focus {
    border-color: #ffc600; }
  .theatre .player__slider {
    width: 10px;
    height: 30px; }
  .theatre .player__controls {
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(120%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.1); }
  .theatre .player:hover .player__controls {
    transform: translateY(0); }
  .theatre .player:hover .progress {
    height: 15px; }
  .theatre .player__controls > * {
    flex: 1; }
  .theatre .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5); }
    .theatre .progress__filled {
      background: orange;
      flex: 0;
      flex-basis: 0%; }
  .theatre input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px; }
  .theatre input[type=range]:focus {
    outline: none; }
  .theatre input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0); }
  .theatre input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: orange;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .theatre input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55; }
  .theatre input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0); }
  .theatre input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer; }

.navbar {
  margin: 0 auto;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.145);
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar nav {
    align-self: center;
    vertical-align: middle;
    margin: 0 1.5rem; }
  .navbar__logo {
    padding: 0 3rem; }
    .navbar__logo--img {
      height: 30px;
      width: 30px;
      vertical-align: middle; }
  .navbar__links {
    list-style-type: none;
    margin: 0;
    padding: 0 3rem; }
    .navbar__links .focused {
      transition: all 0.3s ease 0s; }
    .navbar__links li {
      display: inline-block;
      padding: 0 1rem; }
      .navbar__links li small {
        vertical-align: super; }
      .navbar__links li a {
        transition: all 0.3s ease 0s; }
      .navbar__links li input {
        background-color: transparent;
        border: 0; }
        .navbar__links li input:focus {
          outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 5.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -28px; }

.tooltip .tooltiptext::after {
  content: "";
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.banner {
  height: 50px; }

.img-accordian {
  margin: 50px 50px 0 50px; }
  .img-accordian .gallery {
    display: flex;
    flex-direction: row;
    height: 45vh;
    width: 100%; }
    .img-accordian .gallery-item {
      flex: 1;
      height: 100%;
      background-size: cover;
      background-repeat: none;
      transition: all 0.8s ease; }
      .img-accordian .gallery-item:hover {
        flex: 85%;
        background-position: center; }

.gallery-container .gallery-item:first-of-type {
  background-position: 75% 75%;
  background-image: url(../img/banner-1.png); }

.gallery-container .gallery-item:nth-of-type(2) {
  background-position: 80% 75%;
  background-image: url(../img/banner-2.png); }

.gallery-container .gallery-item:nth-of-type(3) {
  background-position: 85% 55%;
  background-image: url(../img/banner-4.png); }

.gallery-container .gallery-item:nth-of-type(4) {
  background-position: 80% 70%;
  background-image: url(../img/banner-3.png); }

.gallery-container .gallery-item:nth-of-type(5) {
  background-position: 10% 50%;
  background-image: url(../img/banner-5.png); }

.main {
  margin: 0 auto;
  max-width: 1100px; }
  .main:hover {
    box-shadow: 0 0 5px #020202, 0 0 50px #ffb922, 0 0 20px rgba(255, 255, 254, 0.808), 0 0 30px orange;
    border: #ffae00 2px double;
    border-radius: 10px;
    transition: all .2s ease-in .2s;
    transform: scale(1.009);
    background: #0c0c0c2c;
    color: white; }
    .main:hover a {
      color: white;
      transition: all .2s ease-in .2s; }
    .main:hover .shows__header, .main:hover .main__side-nav {
      color: white;
      transition: all .2s ease-in .2s; }
    .main:hover .heading-1 {
      color: white;
      border-bottom: white 1.5px solid;
      transition: all .2s ease-in .2s; }
    .main:hover .main__content-news--item {
      background-color: rgba(0, 0, 0, 0.13);
      transition: all .2s ease-in .2s; }
    .main:hover .main__content-shows--item {
      background-color: rgba(0, 0, 0, 0.13);
      transition: all .2s ease-in .2s; }
      .main:hover .main__content-shows--item .show-details {
        color: white;
        transition: all .2s ease-in .2s; }

.main {
  line-height: 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  transition: all ease-in 1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
  border: rgba(0, 0, 0, 0.157) 2px double;
  border-radius: 10px;
  color: black; }
  .main a {
    color: black;
    transition: all .5s ease-in .5s;
    font-weight: bold; }
    .main a:hover {
      color: orange;
      transition: color .1s linear; }
  .main__body {
    display: flex;
    flex-direction: row; }
  .main__content {
    margin: 0 50px;
    width: 60.3%; }
    .main__content > div {
      margin: 50px 0; }
    .main__content-news--item {
      transition: all ease-in 1s;
      background-color: rgba(255, 255, 255, 0.904);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
      border-radius: 5px;
      padding: 15px 15px;
      display: flex;
      margin: 20px 0; }
    .main__content-news--img {
      height: 160px;
      width: 160px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.205); }
    .main__content-news--details {
      padding: 0 20px;
      float: left; }
    .main__content-shows--grp {
      margin: 20px  0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .main__content-shows--grp .main__content-shows--item {
        transition: all ease-in 1s;
        background-color: rgba(255, 255, 255, 0.904);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
        border-radius: 5px;
        padding: 20px 20px;
        margin: 0 20px 20px 0; }
        .main__content-shows--grp .main__content-shows--item .show-img {
          height: 240px;
          width: 160px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.205); }
        .main__content-shows--grp .main__content-shows--item .show-details {
          text-align: center;
          color: black;
          transition: color ease-in 1s; }
  .main__side-nav {
    margin: 0 50px 50px 0;
    justify-content: flex-end; }
    .main__side-nav > div {
      margin-top: 50px; }
    .main__side-nav .shows__header {
      color: black;
      transition: color .5s ease-in .5s;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-weight: 600; }
