.carousel { 
  position: relative;
  margin: auto 0;
  z-index: 100;

    &-item {
        justify-content: center;      
        img {  
            display:flex; 
            min-width: auto;
            height: 100%;
            width: 100%;
            background-size: cover;     
        }  
    }

    
  .next-slide, .prev-slide {
    padding: 100px 30px;
    position: absolute;
    top: 30%;
    cursor: pointer;
    font-size: 7rem;
    color: white;
  }

  .next-slide {
    right: 5%;
    padding: 30px;

    &:hover {
      color: rgb(255, 176, 29);
    }
  }

  .prev-slide {
    left: 5%;
    padding: 30px;

    &:hover {
      color: rgb(255, 176, 29);
    }
  }
}

.dots  {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);

  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
}

  
.active {
  background-color: rgb(255, 177, 31)!important;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .hidden {
    display:none;
  }

  .reveal {
    display: block;
  }

