.navbar {
    margin: 0 auto;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.145);

    // box-shadow: 0 1px 15px rgba(0, 0, 0, 0.411);
    // border-bottom: rgba(0, 0, 0, 0.082) 2px double;

    display: flex;
    justify-content: center; 
    align-items: center;


    & nav { 
        align-self: center;
        vertical-align: middle;
        margin: 0 1.5rem;
        // margin-right: auto; 
    }
    
    &__logo {
        // margin-right: auto; // makes logo float left
        padding: 0 3rem; 

        &--img {
            height: 30px;
            width: 30px;
            vertical-align: middle;
        }
    }
    
    &__links {
        list-style-type: none;
        margin: 0;
        // padding: 0 3rem;
       
        // magnifying glass
        .focused { 
            transition: all 0.3s ease 0s;
        }
        
        & li {
            display: inline-block; // display list items side by side
            padding: 0 1rem;

            & small {
                vertical-align: super;
            }  
            
            & a {
                transition: all 0.3s ease 0s;
            }

            & input { 
                background-color: transparent;
                border: 0;
           
                &:focus {
                    outline: none;
                }
            }           
        }
    }
}

a {text-decoration: none;}
ul { list-style: none;}
